.list-boarder {
  background-color: #3e3f48;
  border: 2px solid rgb(189, 193, 196);
  border-radius: 8px;
  width: 100%;
  position: absolute;
  bottom: 120px;
  color: white;
  padding: 8px;
}

.gw-button {
  background-color: #5c5c5c;
  border: 2px solid rgb(189, 193, 196);
  border-radius: 8px;
  color: white;
  padding: 8px;
  margin: 8px;
}

.ghost-writer-button {
  height: 40px;
  width: 40px;
  top: 6px;
  position: absolute;
  right: 40px;
}

@media (max-width: 767px) {
  .ghost-writer-button {
    top: 0px; /* topプロパティを初期値に戻す */
  }
}

#selected {
  color: rgb(60, 235, 255);
}

#ghost-writer-prompts > li {
  padding: 16px 0;
  border-bottom: 1px solid rgb(189, 193, 196);
}

#ghost-writer-prompts > li:last-child {
  border-bottom: none;
}

.gw-prompt-title {
  font-weight: bold;
  background-color: #545454;
  margin-bottom: 4px;
}

#gw-prompt-add-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  display: none;
}
