.ghost-writer-button {
  height: 40px;
  width: 40px;
  top: 6px;
  position: absolute;
  right: 40px;
}

@media (max-width: 767px) {
  .ghost-writer-button {
    top: -4px; /* topプロパティを初期値に戻す */
  }
}
